<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs%>
    <script type="text/javascript" src="/scripts/results.js"></script>
  </head>


    <body>
        <% include partials/_header.ejs%>
        <div class="container">
          <div class="jumbotron welcome text-left">
            <h2><%= poll.name %> - Results:</h2>
            <p><%= poll.desc %></p>
          </div><!--jumbotron welcome-->
            <ul class="list-group">
              <div class="list-group">
              <% poll.options.forEach(function(option, index)  { %>
                <% if(index === 0) { %>
                  <li class="list-group-item list-group-item-action flex-column align-items-start winner">
                      <div class="d-flex w-100 justify-content-between">
                        <h5>Rank: 1</h5>
                        <h4 class="mb-1"><%= option.name %></h4>
                        <h5 class="mb-1">Votes: <%= option.count%></h5>
                      </div>
                      <div class="d-flex w-100 pt-3">
                          <small class="mb-1 r1-desc item-desc"><%= option.desc %></small>
                      </div>
                    </li>
                  <% } else { %>
                    <li class="list-group-item">
                      <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"><%= `Rank: ${index + 1}` %></h4>
                            <h5 class="mb-1"><%= option.name %></h4>
                          <h6 class="mb-1">Votes: <%= option.count%></h5>
                        </div>
                        <div class="d-flex w-100 pt-3">
                            <small class="mb-1 item-desc"><%= option.desc %></small>
                        </div>
                    </li>
                  <% } %>
              <% }) %>
              </div>
            </ul>
          </div>
          <% include partials/_footer.ejs%>
      </body>
</html>
